# Project exclude paths
/cmake-build-debug/
/.idea/.gitignore
/.idea/misc.xml
/.idea/ModernCpp.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/ModernCpp2.iml
/.idea/workspace.xml
